<div class="telaPecas">
  <div class="titulo">
    <h1>Peças</h1>
  </div>

  <div class="acoes">
    <div class="barraPesquisa">
     <input type="text" name="pesquisaPeca" placeholder="Buscar peça..." (input)="searchPeca($event)" />
     <img src="assets/lupa-arredondada.png" alt="lupa-arredondada" class="lupa"/>
    </div>
    <div class="botaoAdd">
      <button [routerLink]="['/cadastrarPeca']"> Adicionar Peça</button>
    </div>
  </div>

  <div class="tabela">
    <table>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Código</th>
          <th scope="col">Status</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        @if(pecas && pecas.length > 0){
          @for (peca of pecas; track peca.id) {
            <tr>
              <td>{{peca.id }}</td>
              <td >
                {{peca.codigo }}
              </td>
              <td>{{peca.status }}</td>
              <td class="secaoDelete">
                <button (click)="excluirPeca(peca.id)">🗑️</button>
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="4">Nenhuma peça cadastrada!</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
