<div class="tela">
  <div class="acoes">
    <div class="barraPesquisa">
      <input type="text" name="pesquisaPeca" (input)="searchPeca($event)" placeholder="Buscar por peça..." />
      <img src="assets/lupa-arredondada.png" alt="lupa-arredondada" class="lupa"/>
    </div>
  </div>

  <div class="tabela">
    <table>
      <thead>
        <tr>
          <th scope="col">Peça</th>
          <th scope="col">Origem</th>
          <th scope="col">Destino</th>
          <th scope="col">Responsável</th>
          <th scope="col">Data Movimentação</th>
        </tr>
      </thead>
      <tbody>
        @if(movimentacoes.length > 0 && movimentacoes){
          @for (movimento of movimentacoes; track $index) {
            <tr>
              <td>{{ movimento.peca?.codigo }}</td>
              <td>{{ movimento.origem?.nome }}</td>
              <td>{{ movimento.destino?.nome }}</td>
              <td>{{movimento.responsavel }}</td>
              <td>{{movimento.data }}</td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="4">Nenhuma movimentacao!</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
