<div class="telaEstacao">
  <div class="titulo">
    <h1>Estações</h1>
  </div>

  <div class="acoes">
    <div class="botaoAdd">
      <button [routerLink]="['/cadastrarEstacao']">Adicionar Estação</button>
    </div>
  </div>

  <div class="tabela">
    <table>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Ordem</th>
        </tr>
      </thead>
      <tbody>
        @for (estacao of estacoes;  track estacao.id) {
          <tr>
            <td>{{ estacao.id }}</td>
            <td >
              {{ estacao.nome }}
            </td>
            <td>{{ estacao.ordem }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
