 <div class="modal-backdrop">
      <div class="modal-container">
        <div class="modal-content">
          <h2 class="modal-title">Nova Estação</h2>
          <form [formGroup]="estacaoForm" (ngSubmit)="enviar()" #formDir="ngForm">
            <div>
              <label for="nome">Nome</label>
              <input
                type="text"
                class="input-field"
                formControlName = "nome"
                id="nome"
              />
            </div>
            <div>
              <label for="ordem">Ordem</label>
              <input
                type="text"
                class="input-field"
                formControlName = "ordem"
                id="ordem"
              />
            </div>
            <div class="button-group">
              <button type="button" class="btn-cancel" [routerLink]="['/estacoes']">Cancelar</button>
              <button type="submit" class="btn-add">Adicionar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
